body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
    padding: 10px 20px; /* 上下左右の余白を追加 */
    color: #f2f2f2; /* 白のテキストカラー */
}

header .left {
    flex: 1;
    text-align: center; /* 中央揃え */
    font-size: 40px;
}

header .right {
    background-color: #4CAF50; /* ボタンの背景色 */
    border: 2px solid #67e86c; /* ボーダーカラー */
    padding: 10px 20px;
    font-size: 30px; /* フォントサイズを調整 */
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}

header .right button {
    font-size: 25px; /* ボタン内のテキストサイズを調整 */
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: #f2f2f2; /* 白のテキストカラー */
    cursor: pointer;
}

header .right button:hover {
    border: 2px solid #67e86c; /* ホバー時のボーダーカラー */
}

.login-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    margin: 5px 0;
    padding: 10px;
    width: 300px;
}

hr {
    margin: 20px 0;
}

.login-container button {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

.login-container form {
    text-align: center;
}

.login-container div {
    margin: 10px 0;
}

.login-container label {
    margin-right: 10px;
    color: #333; /* ラベルのテキスト色 */
}
