/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
    padding: 10px 20px; /* 上下左右の余白を追加 */
}

.header .left {
    font-size: 30px;
    color: #f2f2f2; /* 白のテキストカラー */
}

.header .right {
    background: transparent; /* 背景を透明に設定 */
    border: 2px solid #f2f2f2; /* 白のボーダーカラー */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}

.container {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="username"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
