body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
    padding: 10px 20px; /* 上下左右の余白を追加 */
    color: #f2f2f2; /* 白のテキストカラー */
}

header .left {
    flex: 1;
    text-align: left; /* 中央揃え */
    font-size: 30px;
}

header .right {
    background-color: #056725; /* ボタンの背景色 */
    border: 2px solid #67e86c; /* ボーダーカラー */
    padding: 10px 20px;
    font-size: 25px; /* フォントサイズを調整 */
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}

header .right button {
    font-size: 20px; /* ボタン内のテキストサイズを調整 */
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: #f2f2f2; /* 白のテキストカラー */
    cursor: pointer;
}

header .right button:hover {
    border: 2px solid #67e86c; /* ホバー時のボーダーカラー */
}

h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.content-background {
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px; /* Padding around content */
    border-radius: 10px; /* Optional: Rounded corners */
}

.button-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.button-container button {
    background-color: #b0e0e6;
    border: 2px solid #000;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #14ad8e;
}

.start-match {
    position: fixed;
    left: 50%;
    bottom: 20px; /* Adjust this value for more or less distance from the bottom */
    transform: translateX(-50%);
}

.start-match button {
    background-color: #ffeb3b;
    border: 2px solid #000;
    padding: 40px 80px;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.start-match button:hover {
    background-color: #ff0000;
}

