body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
    padding: 10px 20px; /* 上下左右の余白を追加 */
}

.header .welcome-message {
    font-size: 18px;
    color: #f2f2f2; /* 白のテキストカラー */
}

.header .logout-button {
    background: transparent; /* 背景を透明に設定 */
    border: 2px solid #f2f2f2; /* 白のボーダーカラー */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}



hr {
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.schedule-table {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.schedule-table table {
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}

.diagonal-cell {
    position: relative;
    height: 60px;
    width: 60px;
    background: #fff;
}

.diagonal-cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, transparent 49%, #000 51%);
}

.highlight {
    background-color: #d8f3ff; /* 水色 */
}

.schedule-note {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.schedule-note span {
    display: inline-block;
    margin-right: 20px; /* 右に間隔を追加 */
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.buttons .back-button, .buttons .complete-button {
    background: none;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons .complete-button {
    align-self: flex-end;
}
