<<<<<<< HEAD
/* T_profile_input.css */
=======
>>>>>>> b51f2a9bc66494a62777f80fe89a198d7948be7c
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

<<<<<<< HEAD
/*.container {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}*/

=======
>>>>>>> b51f2a9bc66494a62777f80fe89a198d7948be7c
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
<<<<<<< HEAD
    padding: 10px 20px; /* 上下左右の余白を追加 */
=======
    padding: 10px 20px;
>>>>>>> b51f2a9bc66494a62777f80fe89a198d7948be7c
}

.header .welcome-message {
    font-size: 18px;
    color: #f2f2f2; /* 白のテキストカラー */
}

.header .logout-button {
<<<<<<< HEAD
    background: transparent; /* 背景を透明に設定 */
=======
    background: transparent;
>>>>>>> b51f2a9bc66494a62777f80fe89a198d7948be7c
    border: 2px solid #f2f2f2; /* 白のボーダーカラー */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}

hr {
    margin: 20px 0;
}

.form-content {
    padding: 20px;
    background-color: #fff; /* 白色の背景 */
    color: #000; /* 黒色のテキスト */
<<<<<<< HEAD
}
=======
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.form-content div {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-content label {
    font-weight: bold;
}

.form-content input, .form-content select {
    padding: 8px;
    width: 200px; /* 横幅を短く設定 */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px; /* 追加 */
}

.buttons .back-button, .buttons .complete-button {
    background: none;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

>>>>>>> b51f2a9bc66494a62777f80fe89a198d7948be7c
