/* ボディスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* グレーの背景色 */
    padding: 10px 20px; /* 上下左右の余白を追加 */
    color: #f2f2f2; /* 白のテキストカラー */
}

header .left {
    flex: 1;
    text-align: left; /* 中央揃え */
    font-size: 30px;
}

header .right {
    background-color: #056725; /* ボタンの背景色 */
    border: 2px solid #67e86c; /* ボーダーカラー */
    padding: 10px 20px;
    font-size: 25px; /* フォントサイズを調整 */
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2; /* 白のテキストカラー */
}

header .right button {
    font-size: 20px; /* ボタン内のテキストサイズを調整 */
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: #f2f2f2; /* 白のテキストカラー */
    cursor: pointer;
}

header .right button:hover {
    border: 2px solid #67e86c; /* ホバー時のボーダーカラー */
}

/* メインフォームスタイル */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

.others {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.other {
    background-color: #75abc4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.other:hover {
    background-color: #879ac1;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button,
.complete-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover,
.complete-button:hover {
    background-color: #555;
}

/* スケジュールノート */
.schedule-note {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 14px;
}
