<!-- A_homeview.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個別指導マッチングシステム 管理者用ページ</title>
    <link rel="stylesheet" href="../static/css/A_homeview.css">
</head>
<body>
    <div class="header">
        <div class="welcome-message">ようこそ 佐野 さん</div>
        <h1>個別指導マッチングシステム 管理者用ページ</h1>
        <button class="logout-button" onclick="onLogout()">ログアウト</button>
    </div>
    <hr>
    <div class="button-container">
        <div class="button-row">
            <a href="{{ url_for('admin.info_list') }}" class="button-link">
            <button>生徒・講師情報を閲覧する</button>
        </a>

        </div>
    </div>

    <script>
        function onLogout() {
            // ログアウト処理のJavaScript
            window.location.href = "{{ url_for('logout.logout') }}";
        }
    </script>
</body>
</html>
