<!-- A_homeview.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個別指導マッチングシステム 管理者用ページ</title>
    <link rel="stylesheet" href="../static/css/A_homeview.css">
</head>
<body>
    <header>
        <div class="left">個別指導マッチングシステム 管理者用ページ</div>
        <div class="right">
            <a href="{{ url_for('logout.logout') }}">
                <button>ログアウト</button>
            </a>
        </div>
    </header>
    <hr>
    <div class="content-background">
        <div class="button-container">
            <div class="button-row">
                <a href="{{ url_for('A_homeview.A_info_list') }}">
                <button>生徒・講師情報を閲覧する</button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="button-match">
        <a href="{{ url_for('A_homeview.A_matching_status') }}" class="button-link">
        <button>マッチ状況を確認・削除する</button>
        </a>
    </div>

    <script>
        function onLogout() {
            // ログアウト処理のJavaScript
            window.location.href = "{{ url_for('logout.logout') }}";
        }
    </script>
</body>
</html>
