<!DOCTYPE html>
<html lang="en">
<head>
    <!-- W14 講師・生徒情報閲覧画面-->
    <meta charset="UTF-8">
    <title>生徒情報・講師情報 一覧</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h1>生徒情報一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>email</th>
                <th>password</th>
                <th>gender</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                <td>{{ row[0] }}</td>  
                <td>{{ row[1] }}</td>  
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td> 
                <td>{{ row[4] }}</td> 
                <!-- 必要な列を追加 -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
