<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- W14 講師・生徒情報閲覧画面-->
    <meta charset="UTF-8">
    <title>生徒情報・講師情報 一覧</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/A_matching_status.css') }}">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">マッチ情報一覧</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>MatchID</th>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>Match_status</th>
                    <th>Match_datetime</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    <td>{{ row[0] }}</td>  
                    <td>{{ row[1] }}</td>  
                    <td>{{ row[2] }}</td>
                    <td>
                        {% if row[3] %}
                            <span class="badge badge-success">True</span>
                        {% else %}
                            <span class="badge badge-secondary">False</span>
                        {% endif %}
                    </td> 
                    <td>{{ row[4] }}</td>
                    <td>
                        {% if row[3] %}
                            <form method="POST" action="{{ url_for('A_matching_status.toggle_status', match_id=row[0]) }}">
                                <button type="submit" class="btn btn-danger" name="action" value="toggle">解除</button>
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-danger" disabled>解除</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('A_homeview.A_homeview') }}" class="button-link">
            <button>完了</button>
        </a>
    </div>
</body>
</html>
