<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- W2 -->
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="header">
        <div class="left">ようこそゲストさん</div>
        <div class="right">
            <a href="{{ url_for('login.register') }}">
                <button>新規登録</button>
            </a>
        </div>
    </div>
    <div class="login-container">
        <form action="{{ url_for('login.login') }}" method="POST">
            <input type="text" name="email" placeholder="メールアドレス" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <div>
                <input type="radio" id="student" name="user_type" value="student" checked>
                <label for="student">生徒用</label>
                <input type="radio" id="teacher" name="user_type" value="teacher">
                <label for="teacher">講師用</label>
                <input type="radio" id="admin" name="user_type" value="admin">
                <label for="admin">管理者用</label>
            </div>
            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>
