<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- W 講師選択画面 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/S_select_teacher.css">
    <title>Document</title>
    <script>
        function validateForm() {
            const radios = document.getElementsByName('teacher_id');
            let formValid = false;

            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    formValid = true;
                    break;
                }
            }

            if (!formValid) {
                alert('講師を選択してください。');
            }

            return formValid;
        }

        window.onload = function() {
            document.getElementById('teacherForm').onsubmit = function() {
                return validateForm();
            };
        }
    </script>
</head>
<body>
    <header>
        <div class="left">{{ username }} さんの講師が見つかりました!!</div>
        <div class="right">
            <a href="{{ url_for('logout.logout') }}">
                <button>ログアウト</button>
            </a>
        </div>
    </header>
    <h2>ここではあなたに合う講師を選択してください</h2>
    <hr>
    <main>
        <h3>以下の講師とマッチングしました！</h3>
        <form id="teacherForm" method="POST" action="{{ url_for('S_select_teacher.confirm') }}">
            <div class="match-list">
                {% for teacher_profile in teacher_profiles %}
                <div class="teacher">
                    <div class="teacher-number">講師{{ loop.index }}</div>
                    <p><strong>名前:</strong> {{ teacher_profile['name'] }}</p>
                    <p><strong>性別:</strong> {{ teacher_profile['gender'] }}</p>
                    <p><strong>大学:</strong> {{ teacher_profile['university'] }}</p>
                    <p><strong>部活動:</strong> {{ teacher_profile['club_activities'] }}</p>
                    <p><strong>自己紹介:</strong> {{ teacher_profile['introduction'] }}</p>
                    <input type="radio" id="teacher_{{ teacher_profile['id'] }}" name="teacher_id" value="{{ teacher_profile['id'] }}">
                </div>
                {% endfor %}
            </div>
            <div class="buttons">
                <button class="confirm-button" type="submit">確定</button>
            </div>
        </form>
    </main>
</body>
</html>
