<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生の受講希望設定フォーム</title>
    <link rel="stylesheet" href="../static/css/S_take_attend.css">
</head>
<body>
    <div class="header">
        <div class="welcome-message">ようこそ {{ username }} さん : 生徒用ホーム画面</div>
        <a href="{{ url_for('logout.logout') }}">
            <button class="logout-button">ログアウト</button>
        </a>
    </div>
    <hr>
    <h1>受講希望設定フォーム</h1>
        <form action="{{ url_for('S_take_attend_bp.submit_preference') }}" method="post">



        <label for="subject">受講希望科目:</label>
        <select id="subject" name="subject" required>
            <option value="数学">数学</option>
            <option value="英語">英語</option>
            <option value="国語">国語</option>
            <option value="理科">理科</option>
            <option value="社会">社会</option>
        </select><br><br>

        <label for="day">受講希望曜日:</label>
        <select id="day" name="day" required>
            <option value="月曜日">月曜日</option>
            <option value="火曜日">火曜日</option>
            <option value="水曜日">水曜日</option>
            <option value="木曜日">木曜日</option>
            <option value="金曜日">金曜日</option>
            <option value="土曜日">土曜日</option>
            <option value="日曜日">日曜日</option>
        </select><br><br>

        <label for="period">受講希望時限:</label>
        <select id="period" name="period" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select><br><br>

        <button type="submit">送信</button>
    </form>
    <div class="schedule-note">
        ※<span>1コマ：07:55～09:15</span><span>2コマ：09:25～10:45</span><span>3コマ：10:55～12:15</span><span>4コマ：13:10～14:30</span><span>5コマ：14:40～16:00</span><span>6コマ：17:00～17:50</span> <span>7コマ：18:00～18:50</span> <span>8コマ：19:00～19:50</span>
    </div>
</body>
</html>