<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- W3 講師用ホーム画面 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講師用ホーム画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/T_homeview.css') }}">
</head>
<body>
    <header>
        <div class="left">～ようこそ {{ username }} さん～</div>
        <div class="right">
            <a href="{{ url_for('logout.logout') }}">
                <button>ログアウト</button>
            </a>
        </div>
    </header>
    <h2>講師用ホーム画面</h2>
    <hr>
    <div class="content-background">
        <div class="button-container">
            <div class="button-row">
                <a href="{{ url_for('T_profile_input.profile') }}">
                    <button>プロフィールを設定する</button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="start-match">
        <a href="{{ url_for('T_homeview.T_take_attend') }}">
            <button>シフトを設定する</button>
        </a>
    </div>
    <div>
        <a href="{{ url_for('T_matchinfo.matchinfo') }}">
            <button>マッチ状況を確認する</button>
        </a>   
    </div>
</body>
</html>

