<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S_matchinfo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/S_matchinfo.css') }}">
</head>
<body>
    <div class="header">
        <div class="welcome-message">ようこそ {{ username }} さん : 講師用マッチング状況確認画面</div>
        <a href="{{ url_for('logout.logout') }}">
            <button class="logout-button">ログアウト</button>
        </a>
    </div>
    <p>現在のマッチング状況です</p>
    {% for match in match_info %}
    <p>日付: {{ match['date'] }}</p>
    <p>名前: {{ match['name'] }}</p>
    <p>性別: {{ match['gender'] }}</p>
    <p>希望する性別: {{ match['preferred_gender'] }}</p>
    <p>目的: {{ match['purpose'] }}</p>
    <p>目標学校レベル: {{ match['target_school_level'] }}</p>
    <p>クラブ活動: {{ match['club_activity'] }}</p>
    <p>学校の種類: {{ match['school_type'] }}</p>
    <hr>
    {% endfor %}
    {{match_info}}
</body>
</html>
