<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- W7 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/T_profile_input.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="welcome-message">ようこそ</div>
        <button class="logout-button" onclick="onLogout()">ログアウト</button>
        </div>
        <div class="form-content">
            <h1>講師のプロフィール入力画面</h1>
            <form action="" method="POST" name="student_prof-form">
    
                <p>名前：<input type="text" placeholder="名前を入力してください"></p>
        
                <p>学年：<input type="text" placeholder="学年を入力してください"></p>

                <p>性別：<input type="radio" name="gender" value="男">男
                    <input type="radio" name="gender" value="女" checked>女
                    <input type="radio" name="gender" value="その他">その他</p>

                <p>所属：<input type="text" placeholder="所属を入力してください"></p>
        
                <p><input type="submit" value="決定"></p>
            
            </form>
    </body>
    </html>
    