<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講師の指導可能曜日・時限設定フォーム</title>

    <link rel="stylesheet" href="../static/css/T_take_attend.css">
</head>
<body>
    <header>
        <div class="left">～ようこそ {{ username }} さん～</div>
        <div class="right">
            <a href="{{ url_for('logout.logout') }}">
                <button>ログアウト</button>
            </a>
        </div>
    </header>
    <h1>出勤可能日時・科目選択画面</h1>
    <form action="{{ url_for('T_take_attend.submit_availability') }}" method="post">
        <label>出勤可能曜日:</label>
        <select id="days" name="day" required>
            <option value="">--曜日を選択--</option>
            <option value="月曜日">月曜日</option>
            <option value="火曜日">火曜日</option>
            <option value="水曜日">水曜日</option>
            <option value="木曜日">木曜日</option>
            <option value="金曜日">金曜日</option>
            <option value="土曜日">土曜日</option>
            <option value="日曜日">日曜日</option>
        </select><br><br>

        <label for="subjects">指導可能科目 (Ctrl+クリックで複数選択可能):</label>
        <select id="subjects" name="subjects" multiple required>
            <option value="国語">国語</option>
            <option value="数学">数学</option>
            <option value="理科">理科</option>
            <option value="社会">社会</option>
            <option value="英語">英語</option>
        </select><br><br> 
               
        <label for="periods">指導可能時限(Ctrl+クリックで複数選択可能):</label>
        <select id="periods" name="periods" multiple required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select><br><br>
        
        <div class="others">
            <button class="other" type="submit" name="action" value="button1">別の曜日のシフトを入力する</button>
        </div>
        <div class="buttons">
            <button class="back-button" onclick="location.href='{{ url_for('T_take_attend.back_homeview') }}'">ホームへ戻る</button>
            <button class="complete-button" type="submit" name="action" value="button2">送信</button>
        </div>

    </form>
    <div class="schedule-note">
        ※<span>1コマ 7:55～9:15</span> <span>2コマ 9:25～10:45</span>
        <span>3コマ 10:55～12:15</span> <span>4コマ 13:10～14:30</span> <span>5コマ 14:40～16:00</span>
        <span>6コマ 17:00～18:20</span> <span>7コマ 18:30～19:50</span> <span>8コマ 20:00～21:20</span>
    </div>
</body>
</html>
